# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_csv=pd.read_csv('weather_data_csv')
weather_df=pd.DataFrame(weather_csv)
weather_df

,Unnamed: 0,Cities,Country,Cloudiness,Latitude,Longitude,Dates,Humidity,Max Temperature,Wind Speed
0,0,cabo san lucas,MX,0,22.89,-109.91,1594997311,65,86.000,0.45
1,1,rikitea,PF,100,-23.12,-134.97,1594997295,81,73.184,3.32
2,2,buchanan,LR,75,5.88,-10.05,1594997524,88,78.800,4.60
3,3,grindavik,IS,75,63.84,-22.43,1594997305,81,48.200,13.40
4,4,mataura,NZ,0,-46.19,168.86,1594997296,97,29.066,0.84
...,...,...,...,...,...,...,...,...,...,...
569,569,katsuura,JP,75,35.13,140.30,1594997295,100,69.008,0.50
570,570,medea,DZ,20,36.26,2.75,1594997568,58,82.400,9.30
571,571,chivay,PE,0,-15.64,-71.60,1594997568,33,55.994,2.95
572,572,auki,SB,100,-8.77,160.70,1594997413,83,77.882,2.26
573,573,hami,CN,0,42.80,93.45,1594997411,18,84.722,2.53

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(g_key)
locations = weather_df[["Latitude", "Longitude"]].astype(float)
weight=weather_df['Humidity'].astype(float)

In [4]:
fig=gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
narrow_weather=weather_df.loc[(weather_df['Max Temperature']<80)
                              & (weather_df['Max Temperature']>70)
                             & (weather_df['Wind Speed']<10)
                                & (weather_df['Cloudiness']==0)]
drop_unnamed=narrow_weather.drop(columns='Unnamed: 0')
hotel_df=drop_unnamed.dropna()
hotel_df

,Cities,Country,Cloudiness,Latitude,Longitude,Dates,Humidity,Max Temperature,Wind Speed
12,saldanha,ZA,0,-33.01,17.94,1594997335,31,73.400,6.20
44,bredasdorp,ZA,0,-34.53,20.04,1594997297,29,77.000,1.50
63,owen sound,CA,0,44.57,-80.94,1594997529,81,77.000,0.45
73,cape town,ZA,0,-33.93,18.42,1594996998,23,77.000,6.20
88,nikolskoye,RU,0,59.70,30.79,1594997296,33,73.400,6.00
96,hermanus,ZA,0,-34.42,19.23,1594997294,47,71.006,0.45
132,goderich,CA,0,43.75,-81.72,1594997119,84,75.992,3.76
286,kendari,ID,0,-3.94,122.50,1594997336,92,75.038,0.59
296,luau,AO,0,-10.71,22.22,1594997547,20,78.512,2.70
337,waingapu,ID,0,-9.66,120.26,1594997298,84,74.264,2.77
358,guerrero negro,MX,0,27.98,-114.06,1594997338,71,71.402,4.92
378,cullinan,ZA,0,-25.67,28.52,1594997553,7,75.200,1.00
398,aviles,ES,0,43.55,-5.92,1594997555,60,73.994,6.70
478,kisanga,TZ,0,-7.44,37.70,1594997560,47,74.678,2.53
492,mwinilunga,ZM,0,-11.74,24.43,1594997444,29,70.322,5.03
538,turba,EE,0,59.08,24.23,1594997566,60,75.002,4.60
549,port hope,US,0,43.94,-82.71,1594997566,73,75.992,3.10

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df['Hotel Name']= ""
hotel_df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Cities,Country,Cloudiness,Latitude,Longitude,Dates,Humidity,Max Temperature,Wind Speed,Hotel Name
12,saldanha,ZA,0,-33.01,17.94,1594997335,31,73.400,6.20,
44,bredasdorp,ZA,0,-34.53,20.04,1594997297,29,77.000,1.50,
63,owen sound,CA,0,44.57,-80.94,1594997529,81,77.000,0.45,
73,cape town,ZA,0,-33.93,18.42,1594996998,23,77.000,6.20,
88,nikolskoye,RU,0,59.70,30.79,1594997296,33,73.400,6.00,
96,hermanus,ZA,0,-34.42,19.23,1594997294,47,71.006,0.45,
132,goderich,CA,0,43.75,-81.72,1594997119,84,75.992,3.76,
286,kendari,ID,0,-3.94,122.50,1594997336,92,75.038,0.59,
296,luau,AO,0,-10.71,22.22,1594997547,20,78.512,2.70,
337,waingapu,ID,0,-9.66,120.26,1594997298,84,74.264,2.77,
358,guerrero negro,MX,0,27.98,-114.06,1594997338,71,71.402,4.92,
378,cullinan,ZA,0,-25.67,28.52,1594997553,7,75.200,1.00,
398,aviles,ES,0,43.55,-5.92,1594997555,60,73.994,6.70,
478,kisanga,TZ,0,-7.44,37.70,1594997560,47,74.678,2.53,
492,mwinilunga,ZM,0,-11.74,24.43,1594997444,29,70.322,5.03,
538,turba,EE,0,59.08,24.23,1594997566,60,75.002,4.60,
549,port hope,US,0,43.94,-82.71,1594997566,73,75.992,3.10,

In [7]:
radius=5000
target_type='hotel'
hotel_list=[]
for index,row in hotel_df.iterrows():
    latitude=row['Latitude']
    longitude=row['Longitude']
    coords=f'{latitude},{longitude}'
    params={'location':coords,
           'radius':radius,
           'Target':target_type,
           'key':g_key}
    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response=requests.get(base_url,params).json()
    hotel_list.append(response['results'][1]['name'])
hotel_df['Hotel Name']=hotel_list

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>Cities</dt><dd>{Cities}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [10]:
# Add marker layer ontop of heat map
markers=gmaps.marker_layer(locations)
fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))